  <!-- <h3>Title: </h3>
<table>
  <thead>
     <th>Short Name</th>
     <th>Name</th>
     <th>Description</th>
     <th></th>
  </thead>
  <tr ng-repeat="item in $ctrl.items">
    <td></td>
    <td>{{ item.name }}</td>
    <td></td>
 <td><button class="btn btn-primary" ng-click="$ctrl.remove($index);" >Don't want this one!</button></td>
  </tr>
</table>
ng-if="menu.countListMenu" items="menu.items" title="{{menu.title}}" on-remove="menu.removeItemMenu(index)"-->
<h3>Title: {{ menu.myTitle }}</h3>
<ol>
  <li ng-repeat="item in menu.items">
    {{ item.name }} of {{ item.description }}
    <button ng-click="menu.removeItemMenu({index: $index});">Remove Item</button>
  </li>
</ol>
<div class="error" ng-transclude></div>
